// Define variables for your color scheme

// Bootstrap config

$red: #EE5F5B;
$yellow: #FDB631;
$orange: #E67E22;

// Website config
$main-color: #eeeeee;
$main-light: #ffffff;
$main-dark: #bcbcbc;

$second-color: #424242;
$second-light: #6d6d6d;
$second-dark: #1b1b1b;

$grey: #000000;
$light-grey: rgba(240, 240, 240, 1);
$white: rgb(255, 255, 255);

// background text for banner 2

$main-color-transparency: rgba(27, 27, 27, 0.6);


